<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">
	
	<!-- 调度器  -->  
	 <bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">  
        <property name="triggers">  
            <list>  
                 <!-- 指定到业务员开发 -->  
                <ref bean="assignCancidate2assistantTask" />  
                <ref bean="adjustCustomLeveltask" />  
                <ref bean="newCancidateInitTask" />  
            </list>  
        </property>  
    </bean> 
    	    	 
	<!-- 指定到业务员开发 -->
	<bean id="assignCancidate2assistantTask" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail">
			<ref bean="assignCancidate2assistantJob" />
		</property>
		<property name="cronExpression">
			<value>0 */11 * * * ?</value>
		</property>
	</bean>
	<!-- 指定到业务员开发 -->
	<bean id="assignCancidate2assistantJob" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject"><ref bean="CustomerDevService" /></property>
		<property name="targetMethod" value="assignCancidate2assistant" />
		<property name="concurrent" value="false"/> 
	</bean>
	
	<!-- 新业务员初始化设置 -->
	<bean id="newCancidateInitTask" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail">
			<ref bean="newCancidateInitJob" />
		</property>
		<property name="cronExpression">
 			<value>0 */15 * * * ?</value> 
		</property>
	</bean>
	<!-- 新业务员初始化设置 -->
	<bean id="newCancidateInitJob" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject"><ref bean="CustomerDevService" /></property>
		<property name="targetMethod" value="autosetNewAssistantDevelopCount" />
		<property name="concurrent" value="false"/> 
	</bean>
	<!-- 评级调整 -->
	<bean id="adjustCustomLeveltask" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail">
			<ref bean="adjustCustomLevelJob" />
		</property>
		<property name="cronExpression">
			<!-- <value>0 9,13,21 * * * ?</value> -->
			<value>0 */15 * * * ?</value> 
		</property>
	</bean>
	<!-- 评级调整 -->
	<bean id="adjustCustomLevelJob" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject"><ref bean="CustomerDevService" /></property>
		<property name="targetMethod" value="autoSetCandidateLevel" />
		<property name="concurrent" value="false"/> 
	</bean>
	
		
</beans>
