<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">
	
	<!-- 调度器  -->  
	<!-- <bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">  
        <property name="triggers">  
            <list>  
                 生成对账文件  
                <ref bean="genAccountCompareTask" />  
            </list>  
        </property>  
    </bean> 
    	    	 
	生成对账文件
	<bean id="genAccountCompareTask" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail">
			<ref bean="genAccountCompareJob" />
		</property>
		<property name="cronExpression">
			<value>11 0 0 * * ?</value>
		</property>
	</bean>
	
	<bean id="genAccountCompareJob" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject"><ref bean="checkAccountsServiceImpl" /></property>
		<property name="targetMethod" value="createCheckfile" />
		<property name="concurrent" value="false"/> 
	</bean> -->
	
		
</beans>
