<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hummingbird.babyspace.mapper.CandidateDevelopMapper" >
  <resultMap id="BaseResultMap" type="com.hummingbird.babyspace.entity.CandidateDevelop" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="candidate_id" property="candidateId" jdbcType="INTEGER" />
    <result column="assistant_id" property="assistantId" jdbcType="INTEGER" />
    <result column="insert_time" property="insertTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="assistantResultMap" type="com.hummingbird.babyspace.entity.Assistant" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="username" property="username" jdbcType="CHAR" />
    <result column="password" property="password" jdbcType="CHAR" />
    <result column="wx_userid" property="wxUserid" jdbcType="INTEGER" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="mobile" property="mobile" jdbcType="CHAR" />
    <result column="reg_time" property="regTime" jdbcType="INTEGER" />
    <result column="reg_ip" property="regIp" jdbcType="BIGINT" />
    <result column="last_login_time" property="lastLoginTime" jdbcType="INTEGER" />
    <result column="last_login_ip" property="lastLoginIp" jdbcType="BIGINT" />
    <result column="update_time" property="updateTime" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="token" property="token" jdbcType="CHAR" />
    <result column="params" property="params" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="district" property="district" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, candidate_id, assistant_id, insert_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_khkf_candidate_develop
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectIdleAssistant" resultMap="assistantResultMap" parameterType="com.hummingbird.babyspace.entity.Candidate" >
  <!-- 查询该业务员没有开发过,开发的客户个数小于400个,业务员城市与客户城市一致的数据 -->
    select 
    m.*
    from 
    t_ucenter_member m,t_khkf_candidate c,
    t_assistant_develop_count d,
    t_base_setting s
    where m.city=c.city
    and c.status='CRT'
    and c.current_assistant_id is null
    and d.id = m.id
    and d.developing_count  &lt; s.value
    and s.key='assistant_dev_count'
    and c.id not in (
    	select candidate_id from t_khkf_candidate_develop where assistant_id=m.id
    )
    and c.id=#{id}
	order by d.developing_count 
   
  </select>
  <update id="change2z" >
  <!-- 查询该业务员没有开发过,开发的客户个数小于400个,业务员城市与客户城市一致的数据 -->
    update t_khkf_candidate c
    INNER JOIN (select candidate_id , count(*) assistantcount  from t_khkf_candidate_develop group by candidate_id) d ON c.id = d.candidate_id and d.assistantcount>=8
    set c.level='Z',update_time = now()
    where c.level='C'
    and c.status = 'CRT' 
   
   
  </update>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_khkf_candidate_develop
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hummingbird.babyspace.entity.CandidateDevelop" >
    insert into t_khkf_candidate_develop (id, candidate_id, assistant_id, 
      insert_time)
    values (#{id,jdbcType=INTEGER}, #{candidateId,jdbcType=INTEGER}, #{assistantId,jdbcType=INTEGER}, 
      #{insertTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.hummingbird.babyspace.entity.CandidateDevelop" >
    insert into t_khkf_candidate_develop
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="candidateId != null" >
        candidate_id,
      </if>
      <if test="assistantId != null" >
        assistant_id,
      </if>
      <if test="insertTime != null" >
        insert_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="candidateId != null" >
        #{candidateId,jdbcType=INTEGER},
      </if>
      <if test="assistantId != null" >
        #{assistantId,jdbcType=INTEGER},
      </if>
      <if test="insertTime != null" >
        #{insertTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hummingbird.babyspace.entity.CandidateDevelop" >
    update t_khkf_candidate_develop
    <set >
      <if test="candidateId != null" >
        candidate_id = #{candidateId,jdbcType=INTEGER},
      </if>
      <if test="assistantId != null" >
        assistant_id = #{assistantId,jdbcType=INTEGER},
      </if>
      <if test="insertTime != null" >
        insert_time = #{insertTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hummingbird.babyspace.entity.CandidateDevelop" >
    update t_khkf_candidate_develop
    set candidate_id = #{candidateId,jdbcType=INTEGER},
      assistant_id = #{assistantId,jdbcType=INTEGER},
      insert_time = #{insertTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>