<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hummingbird.babyspace.mapper.InterlocutionMapper" >
  <resultMap id="BaseResultMap" type="com.hummingbird.babyspace.entity.Interlocution" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="union_id" property="unionId" jdbcType="VARCHAR" />
    <result column="question" property="question" jdbcType="VARCHAR" />
    <result column="insert_time" property="insertTime" jdbcType="TIMESTAMP" />
    <result column="answer" property="answer" jdbcType="VARCHAR" />
    <result column="reply_operator" property="replyOperator" jdbcType="INTEGER" />
    <result column="reply_time" property="replyTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, union_id, question, insert_time, answer, reply_operator, reply_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_zsgl_Interlocution
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_zsgl_Interlocution
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hummingbird.babyspace.entity.Interlocution" >
    insert into t_zsgl_Interlocution (id, union_id, question, 
      insert_time, answer, reply_operator, 
      reply_time)
    values (#{id,jdbcType=INTEGER}, #{unionId,jdbcType=VARCHAR}, #{question,jdbcType=VARCHAR}, 
      #{insertTime,jdbcType=TIMESTAMP}, #{answer,jdbcType=VARCHAR}, #{replyOperator,jdbcType=INTEGER}, 
      #{replyTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.hummingbird.babyspace.entity.Interlocution" >
    insert into t_zsgl_Interlocution
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="unionId != null" >
        union_id,
      </if>
      <if test="question != null" >
        question,
      </if>
      <if test="insertTime != null" >
        insert_time,
      </if>
      <if test="answer != null" >
        answer,
      </if>
      <if test="replyOperator != null" >
        reply_operator,
      </if>
      <if test="replyTime != null" >
        reply_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="unionId != null" >
        #{unionId,jdbcType=VARCHAR},
      </if>
      <if test="question != null" >
        #{question,jdbcType=VARCHAR},
      </if>
      <if test="insertTime != null" >
        #{insertTime,jdbcType=TIMESTAMP},
      </if>
      <if test="answer != null" >
        #{answer,jdbcType=VARCHAR},
      </if>
      <if test="replyOperator != null" >
        #{replyOperator,jdbcType=INTEGER},
      </if>
      <if test="replyTime != null" >
        #{replyTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hummingbird.babyspace.entity.Interlocution" >
    update t_zsgl_Interlocution
    <set >
      <if test="unionId != null" >
        union_id = #{unionId,jdbcType=VARCHAR},
      </if>
      <if test="question != null" >
        question = #{question,jdbcType=VARCHAR},
      </if>
      <if test="insertTime != null" >
        insert_time = #{insertTime,jdbcType=TIMESTAMP},
      </if>
      <if test="answer != null" >
        answer = #{answer,jdbcType=VARCHAR},
      </if>
      <if test="replyOperator != null" >
        reply_operator = #{replyOperator,jdbcType=INTEGER},
      </if>
      <if test="replyTime != null" >
        reply_time = #{replyTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hummingbird.babyspace.entity.Interlocution" >
    update t_zsgl_Interlocution
    set union_id = #{unionId,jdbcType=VARCHAR},
      question = #{question,jdbcType=VARCHAR},
      insert_time = #{insertTime,jdbcType=TIMESTAMP},
      answer = #{answer,jdbcType=VARCHAR},
      reply_operator = #{replyOperator,jdbcType=INTEGER},
      reply_time = #{replyTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>